Repository the-turing-index/web-app, pull requests merged in 2020-10, with the labels that each got.

#6 Feature/jcs/add angular
  .DS_Store
  .angulardoc.json
  .github/ISSUE_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
  .gitignore
  README.md
  angular.json
  e2e/src/app.e2e-spec.ts
  e2e/src/app.po.ts
  e2e/tsconfig.json
  karma.conf.js
  package-lock.json
  package.json
  src/app/app.component.html
  src/app/app.component.scss
  src/app/app.component.spec.ts
  src/app/app.component.ts
  src/app/app.module.ts
  src/assets/.gitkeep
  src/environments/environment.prod.ts
  src/environments/environment.ts
  src/favicon.ico
  src/index.html
  src/main.ts
  src/polyfills.ts
  src/styles.scss
  src/test.ts
  tsconfig.app.json
  tsconfig.json
  tsconfig.spec.json
  tslint.json
Labels: documentation, good first issue

#16 Feature/jcs/heading
  .DS_Store
  angular.json
  src/app/app.component.html
  src/app/app.component.scss
  src/app/app.component.ts
  src/app/app.module.ts
  src/app/heading/heading.component.html
  src/app/heading/heading.component.scss
  src/app/heading/heading.component.spec.ts
  src/app/heading/heading.component.ts
  src/app/heading/map.component.spec.ts
  src/app/map/map.component.html
  src/app/map/map.component.scss
  src/app/map/map.component.ts
  src/assets/floorplan.svg
  src/assets/img/download.jpeg
  src/assets/img/turingLogo.png
  src/sass/abstracts/_mixins.scss
  src/sass/abstracts/_variables.scss
  src/sass/base/_animations.scss
  src/sass/base/_base.scss
  src/sass/components/_button.scss
  src/sass/layout/_navigation.scss
  src/styles.scss
Labels: Angular, HTML, SVG, Styling, enhancement

#21 Feature/aboutpage
  .Procfile
  package.json
  src/app/about/about.component.html
  src/app/about/about.component.scss
  src/app/about/about.component.spec.ts
  src/app/about/about.component.ts
  src/app/app-routing.module.ts
  src/app/app.component.html
  src/app/app.component.spec.ts
  src/app/app.module.ts
  src/app/heading/heading.component.html
  src/app/heading/heading.component.ts
  src/app/map/map.component.spec.ts
  src/app/page-not-found/page-not-found.component.html
  src/app/page-not-found/page-not-found.component.scss
  src/app/page-not-found/page-not-found.component.spec.ts
  src/app/page-not-found/page-not-found.component.ts
  src/app/svg/svg.component.html
  src/app/svg/svg.component.scss
  src/app/svg/svg.component.spec.ts
  src/app/svg/svg.component.ts
Labels: Angular, front end, routing

#31 Start server in scripts
  package.json
Labels: deployment

#37 Feature/jcs/http module
  .travis.yml
  README.md
  package-lock.json
  package.json
  src/app/app-routing.module.ts
  src/app/app.component.html
  src/app/app.component.ts
  src/app/app.module.ts
  src/app/heading/heading.component.scss
  src/app/map/get.model.ts
  src/app/map/map.component.html
  src/app/map/map.component.scss
  src/app/map/map.component.ts
  src/app/page-not-found/page-not-found.component.html
  src/app/page-not-found/page-not-found.component.scss
  src/app/svg/svg.component.html
  src/app/svg/svg.component.scss
  src/app/svg/svg.component.spec.ts
  src/app/svg/svg.component.ts
  src/assets/51E33B9010201CA5.jpg
  src/assets/docImages/firstNav.png
  src/assets/docImages/roughMap.png
  src/assets/modernFloorPlan.svg
  src/index.html
  src/sass/layout/_navigation.scss
  src/shared/mockData.ts
  src/styles.scss
Labels: Angular, bug, documentation

#38 Feature/modal classroom pop up
  angular.json
  package-lock.json
  package.json
  src/app/app.component.html
  src/app/app.module.ts
  src/app/heading/heading.component.html
  src/app/modal-classroom/modal-classroom-dialog.component.html
  src/app/modal-classroom/modal-classroom.component.html
  src/app/modal-classroom/modal-classroom.component.scss
  src/app/modal-classroom/modal-classroom.component.spec.ts
  src/app/modal-classroom/modal-classroom.component.ts
  src/index.html
  src/material.module.ts
  src/styles.scss
Labels: Angular, enhancement, front end

#41 Feature/jcs/map update
  src/app/heading/heading.component.html
  src/app/heading/heading.component.scss
  src/app/heading/heading.component.ts
  src/app/map/map.component.html
  src/app/map/map.component.scss
  src/app/map/map.component.ts
  src/app/page-not-found/page-not-found.component.html
  src/assets/51E33B9010201CA5.jpg
  src/assets/floorplan.svg
  src/assets/modernFloorPlan.svg
  src/sass/abstracts/_variables.scss
Labels: Angular, Illustrator, SVG, Sprint 3
